.header {
    --horizontal-padding: 3.125rem;
    --items-gap: 3.75rem;
    
    padding-left: var(--horizontal-padding);
    padding-right: var(--horizontal-padding);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--items-gap);
}

/* Brand icon section */
.header > .brand-icon {
    width: 3.125rem;
    height: fit-content;
}
.header > .brand-icon > img {
    width: 100%;
    height: fit-content;
}

/* Breadbrumb */
.header > .breadcrumb {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}
.header > .breadcrumb > li::before {
    content: "/";
    font-weight: bold;
    position: relative;
    right: 0.6rem;
}
.header > .breadcrumb > li:first-child::before {
    display: none;
}
.header > .breadcrumb a {
    color: black;
    text-decoration: none;
}

.header > .search-btn {
    margin-left: auto;
}