* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: sans-serif;

    --page-max-width: 90rem;
    --main-max-width: 71.25rem;
    --header-height: 6.25rem;
    --main-section-padding-top: 2.5rem;
}

body {
    max-width: var(--page-max-width);
    margin: auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: var(--page-max-width);
    margin: auto;
    height: var(--header-height);
    background-color: white;
}

.main {
    margin-top: var(--header-height);
    padding-top: var(--main-section-padding-top);
    width: 100%;
    max-width: var(--main-max-width);
    margin-left: auto;
    margin-right: auto;
}

.footer {
    width: 100%;
}